 <div class="headerDiv"> <a href="{{ path('app_home') }}">    </a>
 
 <img class="fotoHeader" width="30%" src="/images/programacion-web-symfony.png">
 <h1 class="textoHead"> Lista de Reproducción I.E.S. LANZ <h1>

 
 
 </div>
 
 {#<a href="{{ path('app_foro_index') }}"><h1 class="Cabecera_Header"> Foro Lanz Symfony </h1></a>#}

 {# <img class="fotoHeader" width="400px" src="/images/Leonardo_Signature_The_moon_passing_through_the_glass_of_a_got_0.jpg"> <br/>#}
 

 
  
   