<a href="{{ path('app_home') }}">  <img class="fotoHeader" width="40%" src="/images/programacion-web-symfony.png">  </a>
 
 {#<a href="{{ path('app_foro_index') }}"><h1 class="Cabecera_Header"> Foro Lanz Symfony </h1></a>#}

 {# <img class="fotoHeader" width="400px" src="/images/Leonardo_Signature_The_moon_passing_through_the_glass_of_a_got_0.jpg"> <br/>#}
 

 
  
   